# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android (quando você gerar o projeto no Android Studio)
**/.gradle/
**/.gradle-codex/
**/.gradle-verify/
**/.jdk-17/
microsoft-jdk-17-windows-x64.zip
**/build/
**/*.iml
local.properties
**/.cxx/
**/.externalNativeBuild/
**/.kotlin/

# Secrets
.env
